{% extends "blog/base.html" %}

{% block content %}

<p>
    <img src="https://images.gr-assets.com/users/1501842091p8/70080295.jpg" alt="Klimt" style="float:left;width:100px;height:100px;margin-right:15px;margin-top:10px">
    Chi sono? Bella domanda...cerco di scoprirlo e poi vi faccio sapere. <br>
    Nel mondo virtuale sono Katinka; in quello reale ho 33 anni,<br>
    un gatto stupendo (e altrettanto malvagio),<br>
    una laurea in fisica e astrofisica (tristemente inutilizzata)<br>
    e troppe passioni che amo coltivare, per una vita sola.<br>
    In questo blog eclettico e variegato trovate tanti piccoli ingredienti di me,<br>
    potete provare a mescolarli insieme e vedere cosa ne esce fuori.<br>
    Io ancora di preciso non lo so, ma sono fiduciosa :-)<br>

</p>

{% endblock %}